@model IEnumerable<PIN_Projekt.Models.Studenti>

@{
    ViewData["Title"] = "Studenti";
}

<h1>Lista studenata</h1>

<p>
    <a asp-action="Create">Dodaj novog studenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MjestoRod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjestoRod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
